body {
    min-width: 400px;
}

.form-control {
    border: 0;
    background: #f7f7f7;
    border-radius: 3px;
    padding: 25px 15px;
}

.blue-navy-button{
    background: $navy-primary;
    border-color: $navy-primary;
    border-radius: 2px;

    &:hover, &:focus {
        background: $navy-dark;
    }
    
}

