#waver-dot {
    width: 18px;
    height: 18px;
    background: $red-primary;
    border: 2px solid white;
    border-radius: 50%;
    &:hover {
        cursor: pointer;
    }
}


/* tooltip background color */
.block-tooltip .tooltip-arrow ,.block-tooltip .tooltip-inner, .block-tooltip .tooltip-inner::before {
    background-color: $red-primary;
    border-color: $red-primary;
 }