#waver-dot {
    width: 12px;
    height: 12px;
    background: red;
    border: 0;
    border-radius: 50%;
    &:hover {
        cursor: pointer;
    }
}


/* tooltip background color */
.block-tooltip .tooltip-arrow ,.block-tooltip .tooltip-inner, .block-tooltip .tooltip-inner::before {
    background-color: red;
    border-color: red;
 }